################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TajamarApiReact/v15
/Model/bin/Debug/netcoreapp2.0
/Model/obj/Debug/netcoreapp2.0
/Service/bin
/Service/obj
/TajamarApiReact/obj
/TajamarApiReact/bin
/Model/obj
/Model/bin
*.sqlite
/TajamarApiReact/Properties/PublishProfiles/reactTajamar - Web Deploy.pubxml.user
/TajamarApiReact/Properties/PublishProfiles/reactTajamar - Web Deploy.pubxml
/.vs/VSWorkspaceState.json
